﻿body{
  padding: 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
}

.pagebreak { page-break-after: always; }

.grid-container {
    display: inline-grid;
    margin-top: 10px;
    grid-template-columns: auto auto auto auto;
    background-color: rgb(255, 255, 255);
    grid-gap: 8px;
  }
.grid-item {
    background-color: rgba(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;
    width: 170px;
    height: 70px;
    line-height: 70px;
    font-size: 24px;
    padding: 10px;
    text-align: center;
  }